@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0; padding: 0;
  border: 0; outline: 0;
  text-align: center; box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace; color: white;
  user-select: none;
}
a { color: #09f } a:visited { color: #c06 }
html { background-color: #111; }
body { margin: 16px }
.dpc-section-header { margin: 16px auto; }
.dpc-box-section {
  max-width: 2048px; margin: 0 auto;
  display: flex; flex-direction: row;
  align-items: center; justify-content: center;
  flex-wrap: wrap;
}
img { image-rendering: pixelated }
.dpc-image {
  width: 220px;
  height: 154px;
  display: flex;
  object-fit: none;
  object-position: bottom;
}
.dpc-radio {
  position: absolute; right: 8px; top: 8px;
  display: none
}
.dpc-info { display:none }

.dpc-box.dpc-box-todo { border-color: brown }
.dpc-box.dpc-box-todo:has(.dpc-radio:checked) { border-color: coral }
body:not(:has(#displaytodo:checked)) .dpc-box-todo { display: none }

.dpc-box {
  cursor: pointer;
  margin: 8px; padding: 8px;
  border: gray solid 2px;
  border-radius: 16px;
  display: flex; flex-direction: row;
  /* justify-content: space-around; */
}
.dpc-box:has(.dpc-radio:checked) {border-color:white}
.dpc-min{border-style:solid} .dpc-rec{border-style:dashed} .dpc-opt{border-style:dotted}
.dpc-box-main {
  /* width: 236px; */
  display: flex; flex-direction: column;
  align-items: center; justify-content: space-between;
  position: relative; cursor: pointer;
}
.dpc-title { width: 236px; margin-bottom: 8px } .dpc-box-main div { margin-top: 8px }
.dpc-box-info {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
label.toggle {
  cursor: pointer;
  background: #333;
  padding: 2px;
  border-radius: 4px;
}
label.toggle:has(input[type="checkbox"]:checked) { background: #666 }
#displaytodo-display,#displaytodo-hide {display:none}
body:has(#displaytodo:checked) #displaytodo-hide {display:inline}
body:has(#useb2b:checked) #useb2b-no {display:none}
body:not(:has(#displaytodo:checked)) #displaytodo-display {display:inline}

body.scrolled-past-header label:is([for="useb2b"],[for="displaytodo"]) {
  position: fixed; z-index: 67;
  top: 32px;
  padding: 4px;
  display: block;
  box-sizing: border-box;
}
body.scrolled-past-header label[for="useb2b"] {left:32px}
body.scrolled-past-header label[for="displaytodo"] {right:32px}

@media screen and (max-width:555px) { body.scrolled-past-header .toowide {display:none} }

/* no this works just fine no thanks i dont need js */
body:has(#radio-o-2l:checked) #dpc-info-o-2l,
body:has(#radio-o-tsd:checked) #dpc-info-o-tsd,
body:has(#radio-o-butter:checked) #dpc-info-o-butter,
body:has(#radio-o-tki:checked) #dpc-info-o-tki,
body:has(#radio-o-anku:checked) #dpc-info-o-anku,
body:has(#radio-o-rel:checked) #dpc-info-o-rel,
body:has(#radio-o-theguynobodyinvited:checked) #dpc-info-o-theguynobodyinvited,
body:has(#radio-z-mech-holdz:checked) #dpc-info-z-mech-holdz,
body:has(#radio-z-tkiholdo:checked) #dpc-info-z-tkiholdo,
body:has(#radio-z-tsd:checked) #dpc-info-z-tsd,
body:has(#radio-z-tki:checked) #dpc-info-z-tki,
body:has(#radio-z-thisdork:checked) #dpc-info-z-thisdork,
body:has(#radio-z-fakebutter:checked) #dpc-info-z-fakebutter,
body:has(#radio-t-ud:checked) #dpc-info-t-ud,
body:has(#radio-t-mko:checked) #dpc-info-t-mko,
body:has(#radio-t-ball:checked) #dpc-info-t-ball,
body:has(#radio-j-fin:checked) #dpc-info-j-fin,
body:has(#radio-j-bb:checked) #dpc-info-j-bb,
body:has(#radio-j-ball:checked) #dpc-info-j-ball,
body:has(#radio-i-tki:checked) #dpc-info-i-tki,
body:has(#radio-i-fb:checked) #dpc-info-i-fb,
body:has(#radio-i-badtki:checked) #dpc-info-i-badtki,
#youlostthegame { display: block }